src/test/resources/wadl/syntax_error.wadl

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://wadl.dev.java.net/2009/02"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://wadl.dev.java.net/2009/02">
  ources base="http://api.example.com/v1">
    <resource path="/todos">
      <method name="GET" id="search"
        <request>
          <param name="tag" type="xsd:string" style="query" required="false"/>
          <param name="limit" type="xsd:unsignedInt" style="query" required="true"/>
        </request>
        <response status="200">
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
  </resources>
</application>