wadl/src/test/resources/header_parameters.wadl

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://wadl.dev.java.net/2009/02"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://wadl.dev.java.net/2009/02">
  <resources base="http://api.example.com/v1">
    <resource path="/todos">
      <method name="GET" id="getAllTodos">
        <request>
          <param name="x-b3-traceid" type="xsd:string" style="header" required="false"/>
          <param name="allow-cache" type="xsd:boolean" style="header" required="true"/>
        </request>
        <response status="200"/>
      </method>
    </resource>
  </resources>
</application>