wadl/src/test/resources/matrix_parameters.wadl

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://wadl.dev.java.net/2009/02"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://wadl.dev.java.net/2009/02">
  <resources base="http://api.example.com/v1">
    <resource path="/todos">
      <method name="GET" id="getAllTodos">
        <request>
          <param name="tag" type="xsd:string" style="matrix" required="true"/>
          <param name="done" type="xsd:boolean" style="matrix" required="false"/>
        </request>
        <response status="200"/>
      </method>
    </resource>
  </resources>
</application>